<section class="media-table">
  <h4><%= work_category.capitalize%>s</h4>
      <table class="table">
      <thead>
        <tr>
          <th width=80>Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th width=100>Published</th>
          <th width=100>Upvote</th>
        </tr>
      </thead>
      <% @works.where(category: work_category).sort_by_vote_order.each do |work| %>
      <tbody>
          <tr>
            <td><%= work.votes.count %></td>
            <td><%= link_to work.title, work_path(work.id) %></a></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%= link_to "Upvote", work_upvote_path(work.id), class:"btn btn-primary" %></td>
          </tr>
      </tbody>
      <% end %>
    </table>
</section>