<header class="app-header__header">
  <h1>
    <a href="/">Media Ranker</a> 
    <small>Ranking the Best of Everything</small>
  </h1>
  <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item nav-link">
          <%= link_to "View top media", root_path %>
        </li>
        <li class="nav-item app-header__nav_item nav-link">
          <%= link_to "View all media", works_path %>
        </li>
        <li class="nav-item app-header__nav_item nav-link">
          <%= link_to "Add a new work", new_work_path %>
        </li>
        <li class="nav-item app-header__nav_item nav-link">
          <%= link_to "View all users", users_path %>
        </li>
      </ul>
      <ul class="nav app-header__user-nav-container">
      <%# if there is a user already logged in -> else show different buttons%>
      <% current_user = User.find_by(id: session[:user_id]) %>
      <% if current_user %>
        <li class="nav-item app-header__nav_item">
          <%= link_to "#{current_user.username.capitalize}'s Profile", user_path(session[:user_id]), class:"btn btn-primary" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to 'Log Out', logout_path, method: :post, class:"btn btn-primary" %>
        </li>
      <% else %>
        <li class="nav-item app-header__nav_item">
        <%= link_to 'Log In', login_path, class:"btn btn-primary"%>
      </ul>
      <% end %>
    </nav>
  </header>
