<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Gudea:400,700|Hammersmith+One" />
    <%#= favicon_link_tag "/assets/favicon.ico" %>
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/hdxjsqsnw/image/upload/v1571338748/favicon.ico" />
  </head>
  <body>
    <%= render 'layouts/header'%>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
